@import url("reset.css");
/* This is a custom font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@font-face {
  font-family: "VC_david-Regular";
  src: url("/VC_david-Regular.otf") format("opentype");
}
@font-face {
  font-family: "VC_david-Bold";
  src: url("/VC_david-Bold.otf") format("opentype");
}
@font-face {
  font-family: "VC_david-Cursive";
  src: url("/VC_david-Cursive.otf") format("opentype");
}
@font-face {
  font-family: "VC_david-Medium";
  src: url("/VC_david-Medium.otf") format("opentype");
}
@font-face {
  font-family: "VC_NarkisBlock-Regular";
  src: url("/VC_NarkisBlock-Regular.otf") format("opentype");
}
@font-face {
  font-family: "VC_NarkisBlock-Bold";
  src: url("/VC_NarkisBlock-Bold.otf") format("opentype");
}
html {
  scroll-behavior: smooth;
}
/* what is :root? https://developer.mozilla.org/en-US/docs/Web/CSS/:root */
:root {
  /* Define design variables */
  --color-primary: #ffffff;
  --color-secondary: #ff6700;
  --global-bg-color: #0900bd;
  --component-bg-color: #ffead8;
  --component-bg-color-light: rgba(255, 234, 216, 0.5);
  --component-bg-color-dark: rgba(255, 234, 216, 0.9);
  --text-color1: var(--global-bg-color);
  --text-color2: var(--color-primary);
  --text-color2: var(--color-secondary);

  --check-font: "VC_NarkisBlock-Regular", sans-serif;
  --border-radius: 0rem;
  --fonts: "david", sans-serif;
  --font-titles: "Rubik", serif;
  --font-body: "david", sans-serif; /* system-ui matches the user's system font */

  body {
    /* color: var(--color-primary); */
    background-color: var(--color-background);
    font-family: var(--font-body);
    line-height: 1;
  }

  html {
    scroll-behavior: smooth;
    /* scroll-padding-top: 3rem; */
  }
  /* Layout */
  main {
    /* max-width: 60rem; */
    /* padding: 2rem; */
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header {
    /* padding: 1rem 2rem; */
    /* background-color: var(--color-primary); */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    a {
      text-decoration: none;
      color: var(--color-background);

      &:hover {
        text-decoration: underline;
      }
    }

    h1 {
      margin: 0;
    }

    nav {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }

  footer {
    padding: 1rem;
    font-size: 0.8rem;
    text-align: center;
  }

  .rtl {
    direction: rtl;
  }

  /* Text */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* margin-top: 1rem; */
    color: var(--color-secondary);
    font-family: var(--fonts);
    font-weight: 500;
    font-optical-sizing: auto;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 1em;
  }

  h6 {
    font-size: 0.83em;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid var(--color-secondary);
  }

  /* Links */
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }

  /* Tables */
  table {
    /* margin-top: 1.5rem; */
    border-spacing: 0px;
    border-collapse: collapse;
  }
  table td,
  table th {
    padding: 0.5rem;
    /* border: 1px solid var(--color-secondary); */
  }

  /* Forms */
  input,
  button,
  textarea,
  select {
    padding: 0.2em 0.5em;
    border: 1px solid var(--color-secondary);
    border-radius: var(--border-radius);
  }

  fieldset {
    margin-top: 1.5rem;
    border: 1px solid var(--color-secondary);
  }

  /* ----- main page ----- */

  .main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.3 rem;
    background-color: var(--global-bg-color);
  }

  hr {
    width: 100%;
    border: 0.05rem solid var(--color-primary);
    margin: 0.3rem 0;
  }

  .main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    padding-top: 3rem;
    /* padding-right: 0.5rem; */

    h1 {
      font-size: 4em;
      font-family: "david";
      font-weight: bold;
      color: var(--color-primary);
      margin: 0;
      line-height: 0.8em;
    }
  }

  .date-selector-div {
    width: 100%;
  }

  .date-selector {
    background: linear-gradient(to center, var(--global-bg-color) 50%, var(--component-bg-color) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    margin-left: 10px;
    transition: all 1s ease;
    background-color: var(--global-bg-color);
    border: none;
    width: 100%;
    color: var(--component-bg-color);
  }

  .selected {
    background-position: left bottom;
    background-color: var(--component-bg-color);
    color: var(--global-bg-color);
    border: 0.1rem solid #ffead8;
  }

  .date-selector-today {
    border-radius: 0;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    font-size: 1rem;
    padding: 0.3em 0.8em;
  }

  .date-selector-other {
    border-radius: 0;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 0.3em 0.8em;
    border: none;
    font-size: 0.8em;
  }
}

/* Components */
.line-selected {
  display: none;
  height: 100%;
}
.date-vertical-line {
  height: 1.2rem;
  width: 0.1rem;
  background-color: var(--color-primary);
  /* position: absolute; */
  /* left: 25%; */
  /* top: 0; */
}

.dates-table-cur-date {
  /* visibility: hidden; */
  opacity: 0;
  /* transition: opacity 0.5s, visibility 0.5s; */
  animation: fadeIn 1s forwards;
  display: flex;
  color: var(--component-bg-color);
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border: 0.1rem solid #ffead8;
  p {
    vertical-align: middle;
    font-size: 1.25rem;
    padding: 0.3rem;
  }
}

.dates-table-cur-date > p::before {
  opacity: 0;
  transition: all 1s;
  /* animation: fadeIn 1s forwards; */
}

.dates-table-cur-date > p {
  opacity: 1;
  /* animation: fadeIn 1s forwards; */
}

.date-content {
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.date-selector-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dates-table-date-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* position: relative; */
  width: 100%;
  border: 0.1rem solid #ffead8;
  border-top: 0rem solid #ffead8;
  p {
    vertical-align: middle;
    font-size: 1.25rem;
    padding: 0.3rem;
  }
}

.Date {
  font-family: "VC_NarkisBlock-Regular";
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0.7rem;
  padding: 1rem 0rem 0rem 0.2rem;
  color: var(--color-primary);
  /* font-weight: bold; */
}

.Date-fig {
  font-size: 1.5rem;
  margin: 0;
  line-height: 0.6;
}

.wheel.keen-slider {
  display: block;
  color: var(--global-bg-color);
  height: 100%;
  overflow: visible;
  width: 100%;
}
.wheel--perspective-right .wheel__inner {
  perspective-origin: calc(50% + 100px) 50%;
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
}
.wheel--perspective-left .wheel__inner {
  perspective-origin: calc(50% - 100px) 50%;
  transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
}

.wheel__inner {
  border: 0.5px solid var(--component-bg-color);
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: 28%;
  width: 100%;
  padding-bottom: 0.2rem;
}

.wheel__slides {
  height: 100%;
  position: relative;
  width: 100%;
}

.wheel__shadow-top,
.wheel__shadow-bottom {
  background: linear-gradient(to bottom, rgba(255, 234, 216, 0.9) 0%, rgba(255, 234, 216, 0.5) 100%);
  left: 0;
  height: calc(36% + 2px);
  width: 100%;
  border-bottom: 0.125rem solid var(--global-bg-color);
  position: relative;
  margin-top: -2px;
  z-index: 5;
}

.wheel__shadow-bottom {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to bottom, rgba(255, 234, 216, 0.5) 0%, rgba(255, 234, 216, 0.9) 100%);

  /* background: -webkit-linear-gradient(to bottom, var(--component-bg-color) 0%, var(--global-bg-color) 100%); */
  margin-top: 2px;
  border-bottom: none;
  border-top: 0.125rem solid var(--global-bg-color);
}

.wheel__label {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  margin-top: 1px;
  margin-left: 5px;
  /* background: linear-gradient(to bottom, var(--global-bg-color) 0%, var(--component-bg-color) 100%); */
}

.wheel-date-picker-component {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 4rem;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: "center";
  align-items: "center";
  background-color: var(--component-bg-color);
  overflow: hidden;
}

.wheel-date-picker-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--component-bg-color);

  button {
    border: none;
    background-color: inherit;
  }
}

.date-selector-button {
  color: var(--global-bg-color);
  border: none;
}

.date-selector-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--component-bg-color);
}

.wheel-date-picker {
  width: 100%;
  margin: 0 0.7rem;
  height: 100%;
}

.wheel__slide {
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  /* color: linear-gradient(to bottom, var(--global-bg-color) 0%, var(--component-bg-color) 100%); */
  -webkit-backface-visibility: hidden;
  display: flex;
  font-size: 20px;
  /* font-style: normal; */
  font-weight: 400;
  line-height: normal;
  height: 100%;
  width: 100%;
  position: absolute;
}

.Component {
  background-color: var(--component-bg-color);
  border-radius: var(--border-radius);
  border: none;
  width: 100%;
}

.Component-header {
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--global-bg-color);
  /* padding: 0.2rem; */
  border: none;
  width: 100%;
  height: 3rem;
  position: sticky;
  z-index: 1000; /* Adjust z-index to ensure proper stacking order */

  h1 {
    font-size: 2.5em;
    color: var(--color-primary);
    font-weight: bold;
    margin: 0;
  }
}

.header-0 {
  top: 0rem;
  bottom: 9rem;
}

.header-1 {
  top: 3rem;
  bottom: 6rem;
}

.header-2 {
  top: 6rem; /* Positioned below the first header */
  bottom: 3rem;
}

#Attendance-main {
  scroll-margin-top: 3rem;
}

#Schedule-main {
  scroll-margin-top: 6rem;
}

#LawSummary-main {
  scroll-margin-top: 9rem;
}

#Votes-main {
  scroll-margin-top: 12rem;
}

.header-3 {
  top: 9rem;
  bottom: 0rem;
}

.Component-main {
  display: flex;
  flex-direction: column;
  background-color: var(--component-bg-color);
  justify-content: space-evenly;
  color: var(--text-color1);
  width: 100%;
  padding: 0.5rem 0;
  /* align-items: start ; */
}

.Component-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: inherit;
  padding: 0.4rem 0.2rem;
  color: var(--text-color1);
}

  .Component-footer.attendance {
    display: flex;
    color: #0900BD;
    text-align: right;
    /* Section Style */
    font-family: "VC_david-Regular";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 1.375rem */
    margin: 0.313rem;
    width: 95%;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid var(--color-secondary);
    border-left: 2px solid transparent;
  }

  .footer-text{
    flex: 1; /* Allow text to take available space */
    text-align: right; /* Align text to the left */
    margin: 0.625rem;
    direction: rtl; /* Keep proper text direction for Hebrew */
  }



  .Component-footer.attendance.modal-active {
    position: sticky;
    width: 100%;
    top: 6.3%;
    z-index: 1001; /* Ensures it stays above other elements */
    border: transparent;
    padding: 0,0,0,0;
  }

.expand-component {
  text-decoration: none;
  color: var(--text-color1);
  align-items: end;
  justify-content: center;
  display: flex;
  flex-direction: row;
  p {
    margin: 0.7em 0em;
    position: relative;
    right: 0.7em;
    top: 0.2em;
    color: var (var(--text-color2));
  }
}

.number-fig {
  font-size: 10em;
  color: var(--text-color1);
  margin: 0.3rem;
  line-height: 0.6;
}

#Timeline-component {
  padding: 1rem;
  width: 93%;
  height: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
}

#legend {
  display: flex;
  position: relative;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 50%;
  background-color: inherit;
  padding: 0rem 0rem;
  font-weight: bold;
}

.timeline-legend-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}

.shnata {
  content: "";
  position: relative;
  height: 1em;
  background-color: black;
  width: 0.2rem;
  /* padding: 0 0.8em; */
  /* margin: 0em 1em; */
  z-index: 3;
}

.active-day {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  height: 1em;
  width: 1em;
  padding: 0.2rem;
  margin: 0.2rem;
  z-index: 2;
}

.timeline-x-axis {
  /* position: relative; */
  background-color: black;
  left: 0;
  right: 0;
  height: 0.3rem;
  top: 0em;
  width: 100%;
  z-index: 1;
  /* margin: 0.1em auto; */
}

#Events {
  align-self: start;
}
.Schedule-section {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    padding: 0.2rem;
  }

  span {
    font-weight: bold;
    color: var(--text-color1);
  }
}

.Schedule-table {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.1rem;
  margin-top: 0;
  background-color: var(--component-bg-color);
  /* border-radius: var(--border-radius); */
  border: none;
  max-height: fit-content;

  /* p {
      color: var(--global-bg-color);
      margin-bottom: 0.4rem;
    } */
  h5 {
    color: var(--color-secondary);
    font-weight: bold;
  }
  h3 {
    color: var(--global-bg-color);
    font-weight: bold;
  }
  br {
    line-height: 30%;
  }
}

.Schedule-table-body {
  /* height: 100px; */
  transition: all 3s ease-in-out;
}

.showAll {
  /* height: 200px; */
}

.Schedule-table-separator {
  position: relative;
  padding: 0 0.5rem;
  /* width: 50%; */
}
.Schedule-table-horizontal-separator {
  position: relative;

  padding: 0.5rem 0.2rem;
}

.Schedule-vertical-line {
  height: 100%;
  width: 0.1rem;
  background-color: var(--color-secondary);
  position: absolute;
  left: 50%;
  top: 0;
}
.schedule-event-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.canceled {
  text-decoration: line-through;
  -webkit-text-fill-color: unset;
}

.schedule-hour-cell {
  vertical-align: top;
  text-align: center;
  padding: 0.2rem 0.5rem;
}

.Schedule-horizontal-line {
  width: 95%;
  height: 0.1rem;
  background-color: var(--color-secondary);
  position: absolute;
  /* left: 50%; */
  /* top: 0; */
}

.schedule-event-row {
  padding: 0.5rem;
  transition: height 3s ease-in-out;
}

.event-row {
  transition: all ease-in-out;
}

.showMoreRow {
  /* cursor: pointer; */
  text-align: center;
}

.Schedule-footer {
  /* display: block; */
  padding: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Schedule-footer-link {
  display: block;
  /* block-direction: row; */
  /* justify-content: space-between; */
  /* align-items: center; */
}
.schedule-event-cell-opened {
  height: 70%;
  /* max-width: 100%; */
  padding: 0.2rem;

  details {
    transition: all 1s ease-in-out;
    interpolate-size: allow-keywords;
    &::details-content {
      transition: all 1s, content-visibility 1s allow-discrete;
      overflow: hidden;
      block-size: 0; /* Or also:  height:0; */
    }

    &[open]::details-content {
      block-size: auto; /* Or also:  height:auto; */
      /* overflow: visible; */
    }
  }
  details[open] summary {
    position: sticky;
    top: 6rem;
    max-height: fit-content;
    i {
      cursor: pointer;
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      margin: 0.7rem 0rem;
      /* block-size: auto; */
    }
    .schedule-event-description {
      max-height: fit-content;
      overflow: visible;
      display: inline-block;
    }
  }

  details[open] {
    .schedule-event-description {
      max-height: fit-content;
      overflow: visible;
      display: inline-block;
      margin-bottom: 0.5rem;
      /* -webkit-text-fill-color: var(--global-bg-color); */
      /* transition: all 1s ease-in-out; */
    }
    .schedule-event-title {
      max-height: fit-content;
    }
  }

  summary {
    i {
      cursor: pointer;
    }
    display: flex;
    flex-direction: row;
    background-color: var(--component-bg-color);
    justify-content: space-between;
    align-items: flex-start;
    div {
      display: flex;
      flex-direction: column;
    }
  }
}

.schedule-expand-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Schedule-table-footer {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: flex-start;
}
.special-event-title {
  h3 {
    color: var(--color-secondary);
    font-weight: bold;
  }
}
.arrow {
  width: 1.3rem;
  height: 1.3rem;
  transition: all ease 0.5s;
  border: solid var(--global-bg-color);
  border-width: 0 3px 3px 0;
  display: inline-flex;
  padding: 0.5rem;

  object-fit: cover;
}

.up {
  margin: 0.7rem 1rem;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.footer-arrow {
  margin-left: 1rem; /* Space between arrow and text */
  font-size: 1.5rem; /* Adjust arrow size for footer */
  margin-bottom: 0.938rem;
  cursor: pointer; /* Pointer cursor for interactivity */
}

.schedule-event-participants-div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.schedule-event-title {
  margin-top: 0.3rem;
  max-height: 4rem;
  h3 {
    text-decoration: none;
  }
}

/* .canceled {
    .schedule-event-description {
      text-decoration: line-through;
    }
  } */
.schedule-event-participant-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: calc(25% - 0.5rem);

  img {
    width: 6rem;
    height: 6rem;
    object-fit: contain;
  }
  p {
    margin: 0.1rem 0;
    font-size: 1rem;
    b {
      font-weight: bold;
    }
  }
}

.row-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  /* padding: 0.5rem; */
}

.share-icon img {
  width: 24px;
  height: 24px;
  margin-left: auto;
}

.attendance-chart {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

  .chart-wrapper {
    width: 100%;
    position: relative;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(15, minmax(1.375rem, 1fr)); /* Flexible columns */
    grid-template-rows: repeat(8, 1.25rem); /* Exactly 8 rows, each 20px high */
    grid-auto-flow: column;
    justify-content: center;
    flex-wrap: wrap;
    /* max-height: 75px; Half of the width to create the semi-circle */
    width: 90%;
  }

.chart-circle {
  width: 1.0625rem;
  height: 1.0625rem;
  transform: rotate(90deg);
  margin: 0.4375rem
}

.present {
  background-color: var(--color-secondary);
}

.absent {
  background-color: var(--global-bg-color);
}

.dimmed {
  background-color: var(--global-bg-color);
  opacity: 0.2;
}

.display-options {
  border-top: 2px solid var(--global-bg-color);
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  width: 95%;
  max-width: 100%;
  position: relative; /* For positioning the indicator */
}

.display-options button {
  flex: 1; /* Make buttons take equal space */
  position: relative; /* For the indicator effect */
  background-color: transparent;
  font-family: "VC_david-Medium";
  flex-direction: column;
  font-weight: 600;
  line-height: 90%;
  font-size: 1.5rem;
  max-width: 25%;
  line-height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgba(9, 0, 189, 0.2);
  border: none;
  outline: none;
  z-index: 2; /* Make sure buttons are above the indicator */
  transition: color 0.3s ease;
}

.display-options button p {
  font-size: 1rem; /* Font size for the text (e.g., "שרים") */
  margin: 0; /* Reset margin for consistent alignment */
}

.display-options button.active {
  color: #ffead8; /* Change text color for active button */
}

.display-options button:hover {
  opacity: 0.8; /* Slightly dim when hovering */
}

.display-options .indicator {
  position: absolute;
  bottom: 0; /* Align indicator at the bottom */
  left: 0; /* Start from the left */
  height: 100%; /* Make it fill the button */
  color: #ffead8;
  background-color: var(--global-bg-color); /* Same background color as active */
  transition: all 0.3s ease; /* Smooth animation */
  z-index: 1; /* Place it behind the buttons */
}

.search-bar {
  font-family: "VC_NarkisBlock-Regular";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 1rem */

  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem; /* Adjust padding with rem units */
  border: 0.15rem solid var(--global-bg-color); /* 1px in rem */
  margin-bottom: 1rem; /* Space below the search bar */
  width: 100%; /* Full width for mobile screens */
}

.search-bar input {
  flex: 1; /* Take all available space */
  border: none;
  outline: none;
  padding: 0.375rem; /* Inner padding for input */
  font-size: 1rem; /* Responsive font size */
  background: transparent;
}

.search-bar input::placeholder {
  color: rgba(9, 0, 189, 0.3);
}

.search-bar svg {
  width: 1.25rem; /* Icon size (20px = 1.25rem) */
  height: 1.25rem;
  margin-right: 0.5rem; /* Space between icon and input */
}

.modal-overlay {
  max-height: 0;
  overflow: hidden;
  width: 100%;
  position: relative;
  display: flex;
  margin-top: 1rem;
  align-items: center;
  pointer-events: none; /* Ensures the overlay doesn't block interactions */
  transition: max-height 1s ease-in-out; /* Smooth transition */
}

.modal-overlay.modal-active {
  max-height: 1000vh; /* Large enough to show the modal */
  pointer-events: auto; /* Allows interaction */
}

.modal-content {
  background: #ffead8;
  color: rgb(0, 0, 0);
  max-height: 0; /* Start with collapsed content */
  padding: 1rem;
  z-index: 5;
  text-align: left;
  pointer-events: auto; /* Enables interaction within the modal */
  overflow: hidden; /* Ensure content doesn't overflow when collapsed */
  transition: max-height 3s ease-in-out, padding 3s ease-in-out;
}

.modal-overlay.modal-active .modal-content {
  max-height: 1000vh; /* Set a large enough height for the content */
  padding: 1rem; /* Ensure padding transitions smoothly */
}

.grid-header {
  display: none; /* Optional: Hide the header to focus on grid items */
}

.faction-header {
  display: flex;
  align-items: center;
  width: 100%; /* Makes the header take full width */
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: #ff6700;

  text-align: center;
  /* Subtitle */
  font-family: "VC_NarkisBlock-Regular";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 1rem */
}

.faction-header::before,
.faction-header::after {
  content: "";
  flex-grow: 1; /* Allows the lines to stretch */
  height: 2px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="5" height="2" viewBox="0 0 5 2" fill="none"><path d="M125 1L1.00001 1.00001" stroke="%230900BD" stroke-width="2" stroke-linecap="square"/></svg>');
  background-repeat: repeat-x; /* Repeats the SVG for the line */
  background-size: contain; /* Ensures proper scaling */
}

.faction-header::before {
  margin-left: 0.5rem;
}

.faction-header::after {
  margin-right: 0.5rem;
}

.grid-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 items per row */
  gap: 0.625rem;
  row-gap: 0.625rem;
}

.grid-item {
  color: #0900bd;
  background: var(--component-bg-color);
  text-align: center;
  font-family: "VC_NarkisBlock-Regular";
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 0.8125rem */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 200px; Adjust height as needed */
  width: 5.25rem;
  height: 9.56256rem;
  flex-shrink: 0;
  border: 1px solid #0900bd;
}

.mk-image {
  min-width: 100%;
  min-height: 80%;
}

.mk-image.grayscale {
  filter: grayscale(100%);
}

.mk-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mk-name {
  min-height: 20%;
  width: 100%;
  padding: 0.2rem;
  text-align: center;
  color: #0900bd;
}

.Component-header h1 {
  font-size: 1.6em; /* Adjust font size */
}

.vote-item {
  cursor: pointer;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.4s ease, box-shadow 0.15s ease;
}

.vote-item:hover {
  background-color: var(--color-secondary); /* Change to your desired hover color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mk-image.grayscale {
  filter: grayscale(100%);
}

.law-section {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem;
}

.law-horizontal-line {
  width: 85%;
  height: 0.1rem;
  background-color: var(--color-secondary);
  position: absolute;
  /* left: 50%; */
  /* top: 0; */
}

.law {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
}

.law .law-content {
  display: flex;
  flex-direction: row !important;
  width: 100%; /* Ensure content takes full width when open */
}

.law.open .law-content {
  display: flex;
  flex-direction: column !important;
  width: 100%; /* Ensure content takes full width when open */
}

.law-name {
  font-weight: normal;
  max-width: 55%; /* Ensure the name takes up appropriate width */
  margin-left: 1rem;
}

.law.open .law-name {
  font-weight: bold; /* Make name bold when open */
  max-width: 90%; /* Adjust max-width when open */
}

.law-status {
  color: var(--color-secondary);
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.up {
  transform: rotate(-135deg); /* Rotate arrow up when open */
}

.arrow.down {
  transform: rotate(45deg); /* Rotate arrow down when closed */
}
