@import url("reset.css");
/* This is a custom font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* what is :root? https://developer.mozilla.org/en-US/docs/Web/CSS/:root */
:root {
  /* Define design variables */
  --color-primary: #ffffff;
  --color-secondary: #ff6700;
  --global-bg-color: #040050;
  --component-bg-color: #3279ff;

  --border-radius: 0.625rem;
  --fonts: "narkisim", sans-serif;
  --font-titles: "Rubik", serif;
  --font-body: system-ui, sans-serif; /* system-ui matches the user's system font */
}

body {
  color: var(--color-primary);
  background-color: var(--color-background);
  font-family: var(--font-body);
  line-height: 1;
}

/* Layout */
main {
  /* max-width: 60rem; */
  /* padding: 2rem; */
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  a {
    text-decoration: none;
    color: var(--color-background);

    &:hover {
      text-decoration: underline;
    }
  }

  h1 {
    margin: 0;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}

footer {
  padding: 1rem;
  font-size: 0.8rem;
  text-align: center;
}

.rtl {
  direction: rtl;
}

/* Text */

h1,
h2,
h3,
h4,
h5,
h6 {
  /* margin-top: 1rem; */
  color: var(--color-secondary);
  font-family: var(--fonts);
  font-weight: 500;
  font-optical-sizing: auto;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.83em;
}

blockquote {
  padding-left: 1rem;
  border-left: 2px solid var(--color-secondary);
}

/* Links */
a {
  color: var(--color-accent);
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0.5rem;
  border: 1px solid var(--color-secondary);
}

/* Forms */
input,
button,
textarea,
select {
  padding: 0.2em 0.5em;
  border: 1px solid var(--color-secondary);
  border-radius: var(--border-radius);
}

fieldset {
  margin-top: 1.5rem;
  border: 1px solid var(--color-secondary);
}

/* Components */

.Date {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  margin: 0.5rem;
  padding: 0.2rem;
  width: 100%;
}

.Date-number-fig {
  color: var(--global-bg-color); /* Use 'color' to set text color */
  font-size: 8rem;
  margin: 0;
  line-height: 0.6;
}


.Date-fig {
  color: var(--global-bg-color); /* Use 'color' to set text color */
  font-size: 3rem;
  margin: 0;
  line-height: 0.6;
}


.Component {
  background-color: var(--component-bg-color);
  border-radius: var(--border-radius);
  margin: 0.5rem;
  padding: 0.2rem;
}


.Component-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  padding: 0rem 0.2rem;

  h1 {
    font-size: 2.5em;
    color: var(--color-primary);
    margin: 0;
  }
}

.Component-main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* align-items: start ; */
}

.Component-footer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-color: inherit;
  padding: 0rem 0.2rem;
}

.expand-component {
  text-decoration: none;
  color: var(--color-primary);
  align-items: end;
  justify-content: center;
  display: flex;
  flex-direction: row;
  p {
    margin: 0.7em 0em;
    position: relative;
    right: 0.7em;
    top: 0.2em;
  }
}

.number-fig {
  font-size: 10em;
  color: var(--color-primary);
  margin: 0;
  line-height: 0.6;
}

#Timeline-component {
  padding: 1rem;
  width: 93%;
  height: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
}

#legend {
  display: flex;
  position: relative;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 50%;
  background-color: inherit;
  padding: 0rem 0rem;
  font-weight: bold;
}

.timeline-legend-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}

.shnata {
  content: "";
  position: relative;
  height: 1em;
  background-color: black;
  width: 0.2rem;
  /* padding: 0 0.8em; */
  /* margin: 0em 1em; */
  z-index: 1;
}

.active-day {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  height: 1em;
  width: 1em;
  padding: 0.2rem;
  margin: 0.2rem;
  z-index: 2;
}

.timeline-x-axis {
  /* position: relative; */
  background-color: black;
  left: 0;
  right: 0;
  height: 0.3rem;
  top: 0em;
  width: 100%;
  z-index: 1;
  /* margin: 0.1em auto; */
}

#Schedule {
  width: 93%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#Events {
  align-self: start;
}
.Schedule-section {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    padding: 0.2rem;
  }

  span {
    font-weight: bold;
    color: var(--color-secondary);
  }

}
.row-display{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  /* padding: 0.5rem; */
}




.attendance-component {
  background-color: var(--component-bg-color);
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  max-height: 200px;
  margin: 0 auto;
}

.attendance-header {
  display: flex;
  align-items: center;
}

.attendance-header h1 {
  font-size: 1.5em;
  margin: 0;
}

.share-icon img {
  width: 24px;
  height: 24px;
  margin-left: 20px;
}

.attendance-main {
  margin-top: 20px;
}

.attendance-chart {
  position: relative;
}

.chart-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 200px;
  height: 75px; /* Half of the width to create the semi-circle */

  border-top-left-radius: 75px; /* Rounded top-left corner */
  border-top-right-radius: 75px; /* Rounded top-right corner */
}

.chart-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.present {
  background-color: orange;
}

.absent {
  background-color: white;
  border: 1px solid orange;
}

.attendance-summary {
  font-size: 1.2em;
  margin-top: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* Ensures the overlay doesn't block interactions */
}

.modal-content {
  background: white;
  color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  max-height: 70vh;
  overflow-y: auto;
  text-align: left;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  pointer-events: auto; /* Enables interaction within the modal */
}

.attendance-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.attendance-table th,
.attendance-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.close-modal-button {
  margin-top: 10px;
  background-color: #0046ad;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.close-modal-button:hover {
  background-color: #002f6e;
}

.attendance-footer .expand-icon img {
  width: 24px;
  height: 24px;
}

.mk-image{
  width: 24px;
  height: 24px;
}
